body {
  position: relative;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.bg-image {
  background-image: url(img/wood_bg.jpg);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 100%;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.table-board {
  position: absolute;
  top: 5px;
  bottom: 5px;
  margin-left: 30%;
  margin-right: 10%;
  border: 5px solid #116466;
  background-color: #116466;
  border-collapse: collapse;
  box-shadow: 10px 10px 8px 10px #888888;
}

th {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 10px;
}

.column {
  background-color: #116466;
  font-weight: normal;
  color: white;
  text-align: center;
}

.row {
  font-weight: normal;
  color: white;
  text-align: left;
}



.pole {
  font-size: 12px;
  width: 60px;
  height: 58px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: #116466;
  color: black;
  transition: .5s ease;
  backface-visibility: hidden;
}

.pole:hover {
  background-color: white;
  opacity: 0.5;
  cursor: default;
}

.letter {
  position: relative;
  margin: 0 auto;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  font-size: 26px;
}

.letterValue {
  position: absolute;
  box-sizing: content-box;
  width: 20%;
  margin-left: 70%;
  margin-top: -10%;
  font-size: 12px;
}

.wood {
  background: url(img/wood_pattern.png);
}

.tripleWord {
  background-color: #E63462;
}

.doubleWord {
  background-color: #FFCB9A;
}

.tripleLetter {
  background-color: #5AB9EA;
}

.doubleLetter {
  background-color: #8FC1E3;
}

.start {
  background-color: #FFCB9A;
}


.success {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  position: relative;
  background-size: cover;
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.board {
  margin-top: 5px;
}

.user-info,
.user-score {
  text-align: left;
  padding-left: 120px;
}

.user-score a {
  font-size: 16px;
  color: #818181;
  /* vertical-align: middle; */
}

.user-image {
  float: left;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 70px;
  height: 70px;
  margin-top: 5px;
}

.cover {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(img/wood_pattern.png);
  opacity: 0.5;
  border-radius: 2px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.uncover {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(img/wood_pattern.png);
  opacity: 1;
  border-radius: 2px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.sidenav {
  left: 0;
  margin-top: 0;
  height: 100%;
  width: 20%;
  min-width: 300px;
  position: relative;
  z-index: 1;
  top: 0;
  background-color: rgb(49, 53, 61);
  overflow-x: hidden;
  padding-top: 20px;
}

.letter-sideBar {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-color: rgb(49, 53, 61);
  border-radius: 4px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.sidebar-info {
  position: absolute;
  top: 0;
  height: 160px;
  width: 100%;
}

.sideBar-letters {
  /* position: absolute; */
  height: auto;
  width: 100%;
}

.sidebar-middle {
  position: absolute;
  bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebar-bottom {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.sidebar-bottom>button {
  margin: 5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sideBar-pole {
  font-size: 12px;
  width: 60px;
  height: 58px;
  padding: 2px;
  background-color: rgb(49, 53, 61);
  color: black;
  transition: .5s ease;
  backface-visibility: hidden;
}

.sideBar-pole:hover {
  background-color: white;
  opacity: 0.5;
  cursor: default;
}

.changeLetters {}